@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fall {
  0% {
    transform: translateY(-10vh) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

.animate-fall {
  animation: fall 2.5s linear forwards;
}

@keyframes flash-red {
    0%, 100% { background-color: transparent; }
    50% { background-color: rgba(239, 68, 68, 0.3); }
}

.animate-flash-red {
    animation: flash-red 0.5s ease-in-out 2;
}
